<div class="col-md-4">
  <h1>New Challenge</h1>
  <hr>
  <!-- <div ng-show="challengesCtrl.error" class="alert alert-danger">{{challengesCtrl.errorMessage}}</div> -->
  <form class="form" id='challengeForm' ng-submit="challengesCtrl.createChallenge()">
    <div class="form-group">
      <label>Title</label>
      <input type="text" class="form->control" name="title" placeholder="Tacos at Alberto's" ng-model="challengesCtrl.newChallenge.title" required>
    </div>
    <div>Location: {{challengesCtrl.selectedChallenge.name}}</div>
    <div>Price Level: {{challengesCtrl.selectedChallenge.price}}</div>
    <div>Rating: {{challengesCtrl.selectedChallenge.rating}}</div>
    Show Phone Number: <input type="checkbox" ng-model="checked" aria-label="Toggle ngShow"><br />
    <div ng-show="checked">
      {{challengesCtrl.selectedChallenge.display_phone}}
    </div>
    <hr>
    <img id='yelpsGeneratedPic' src="{{challengesCtrl.selectedChallenge.image_url}}" alt="Yelp's Image">
    <div class="form-group">
      <label for="textarea">Body</label>
      <br>
       <textarea name="body" ng-model="challengesCtrl.newChallenge.body" form="challengeForm" cols="30" rows="5" placeholder="Come on Tuesdays for $1.50 per taco!!"></textarea>
        <!-- <input type="textarea" rows='15' cols='30' class="form-control" name="body" placeholder="Come on Tuesdays for $1.50 per taco!!" ng-model="challengesCtrl.newChallenge.body" required> -->
      </div>
      <div class="form-group">
        <label>Expires In:</label>
          <input list="lifetimes" class="form-control" name="expiration" placeholder='Time in Hours' ng-model="challengesCtrl.newChallenge.expiration" required>
          <datalist id='lifetimes'>
            <option value="12">12 Hours</option>
            <option value="24">1 Day</option>
            <option value="48">2 Days</option>
            <option value="168">1 Week!</option>
          </datalist>
        </div>

        <div class="form-group">
          <label>Menu</label>
            <input type="text" class="form-control" name="menu" placeholder="Link to Restaurant's menu" ng-model="challengesCtrl.newChallenge.menu" >
          </div>
          <div class="form-group">
            <label>Additional Comments</label>
              <input type="text" class="form-control" name="additional_comments" placeholder="#AskForCilantro" ng-model="challengesCtrl.newChallenge.additional_comments" >
            </div>
              <div class="form-group">
              <label>Location Address:</label>
                <input style='width:500px' type="text" class="form-control" name="address" placeholder="123 Taco Place, Taco City, Taco Land 33333" ng-model="challengesCtrl.newChallenge.location" ng-init='challengesCtrl.newChallenge.location = "{{challengesCtrl.selectedAddress}}"' value="{{challengesCtrl.selectedAddress}}" required>
              </div>

              <div class="checkbox">
                <label>
                  <input type="checkbox" ng-model='challengesCtrl.newChallenge.public' value='true' >Public
                </label>
              </div>


                  <div class="form-group">
  <input type="hidden" class="form-control" name="user" value="{{currentUser._id}}" ng-init="challengesCtrl.newChallenge.user = currentUser._id">
</div>
      <div>
        <button type="submit" class="btn btn-default" ng-disabled="challengesCtrl.disabled">Create Challenge!</button>
      </div>
  </form>
  {{challengesCtrl.selectedChallenge}}
  <hr>
  About to post: {{challengesCtrl.newChallenge}}
</div>
