<h1>{{showChallengeCtrl.challenge.title}}</h1>
<p>{{showChallengeCtrl.challenge.body}}</p>
<div>Location: {{showChallengeCtrl.challenge.location}}</div>
<div>Location name : {{showChallengeCtrl.challenge.name}}</div>
<div>Location phone: {{showChallengeCtrl.challenge.phone}}</div>
<div>Price: {{showChallengeCtrl.challenge.price_level}}</div>
<div>Rating: {{showChallengeCtrl.challenge.rating}}</div>
<div>Expires in: </div>
<br>
<button>TAKE CHALLENGE!</button>

<hr>
{{showChallengeCtrl.challenge}}
