<div>
<!-- <div class="jumbotron text-center"><h1>Search Locations</h1></div> -->
  <!-- <div class>

    <div class="col-xs-6">
      <label>Search</label>
      <input type="search" class="form-control" ng-model="yelpCtrl.search.term" placeholder="tacos..">
    </div>

    <div>
    Price Level: <select name="pricelevels" ng-model="yelpCtrl.search.price">
    <option value="1">$</option>
    <option value="2">$$</option>
    <option value="3">$$$</option>
    <option value="4">$$$$</option>
  </select>
</div>

<div class="form-group checkbox">
    <input type="checkbox" class="form-control" name="public" ng-model='yelpCtrl.search.open' value='true' >Open Now

  </div>

      <!- Open?<input type="text" ng-model='yelpCtrl.search.open'> -->
      <!-- Zip<input type="text" ng-model='yelpCtrl.search.zip'>


    <button ng-click='yelpCtrl.yelpSearch()'>Search</button>
    <button><a ui-sref="newChallenge">Create Challenge!</a></button>

  </div> -->

  <form class="form-horizontal">
    <fieldset>
      <legend>1. Search a Location:</legend>

      <blockquote style='text-align:center'>
      <p>"First we eat, then we do everything else."</p>
      <small>by <cite title="Source Title">M.F.K. Fisher</cite></small>
      </blockquote>
      <br>

      <div >
        <label style='display:block'>Search Challenge..</label>
        <div style='display:inline-block;float:left'>
        <input type="search" class="form-control" ng-model="yelpCtrl.search.term" placeholder="tacos.." style='display:inline-block' required>
      </div>
      </div>
      <a ng-click='yelpCtrl.yelpSearch()' style="display:inline-block;float:left;margin-left:5px"class="btn btn-success">Search</a>

      <br>
      <br>
      <br>


      Price Level: <select name="pricelevels" ng-model="yelpCtrl.search.price">
      <option value="1">$</option>
      <option value="2">$$</option>
      <option value="3">$$$</option>
      <option value="4">$$$$</option>
    </select>


          <div class="checkbox">
            <label>
              <input type="checkbox" ng-model='yelpCtrl.search.open' value='true' >Open Now
            </label>
          </div>

          <div >
            <label>Zip:</label>
          <input type="text" ng-model='yelpCtrl.search.zip'>
        </div>
        <br>





    </fieldset>
  </form>

  <br>
  <br>




<br>
<br>
  <form class="form-horizontal">
    <fieldset>
      <legend>2. Select a Location:</legend>
    </form>

  <table class="table" border='2px'>
    <thead>
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Open Now</th>
        <th>Rating</th>
        <th>Price Level</th>
        <th class="text-right">Image</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="challenge in yelpCtrl.allChallenges" id='searchContainer' ng-click='yelpCtrl.selectLocation(challenge)'  ng-class='{"selected": challenge.selected}' style='cursor:pointer'>
        <td>{{challenge.name}}</td>
        <td>{{challenge.location.address1}},  {{challenge.location.city}},
          {{challenge.location.state}} {{challenge.location.zip_code}}
        </td>
        <td>{{!challenge.is_closed}}</td>
        <td>{{challenge.rating}}</td>
        <td>{{challenge.price}}</td>
        <td class="text-right"><img id='yelpsGeneratedPic' src="{{challenge.image_url}}" alt="Yelp's Image"></td>
      </tr>
    </tbody>
  </table>
  <br>
  <button type="submit" ui-sref="newChallenge" class="btn btn-primary">Create Challenge!</button>
</div>
